<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.BaseAttrInfoMapper">


<!--    List<BaseAttrInfo> getAttrInfoListByCategoryId(@Param("category1Id") Long category1Id,
                                                   @Param("category2Id") Long category2Id,
                                                   @Param("category3Id") Long category3Id);-->
    <select id="getAttrInfoListByCategoryId" resultType="com.atguigu.gmall.model.product.BaseAttrInfo">
        select * from base_attr_info
        <where>
            <if test="category1Id != 0">
                (category_id = #{category1Id} and category_level=1)
            </if>
            <if test="category2Id != 0">
               or (category_id = #{category2Id} and category_level=2)
            </if>
            <if test="category3Id != 0">
                or (category_id = #{category3Id} and category_level=3)
            </if>
        </where>
    </select>
</mapper>